*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    background: #454B58;
    min-height: auto;
}

.Background {
    width: 90%;
    min-height: 100vh;
    background: #E4E6E7;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center; 
    box-shadow: 
        -5px 0 55px #1d2025, 
        5px 0 25px #1d2025; 

    min-height: auto;
}


@media (min-width: 601px) {


.NavBar {
    padding-top: 5vh;
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: center;
    gap: 3vh;
}

.NavBar > li > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 2.2vh; 
}

.NavBar > li:nth-child(2) > a {
    font-size: 3vh;
    text-decoration: underline;
}

.NavBar > li {
    list-style-type: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;

}

.NavBar > li:hover {
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.22);
    transform: translateY(-4px);
}


.SubMenu {
    position: absolute;
    left: -25%;


    display: flex;
    flex-direction: column;
    gap: 6px;

    min-width: 200px;
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 10;
    visibility: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);

    transition: opacity 0.25s ease, transform 0.25s ease;
}

.SubMenu > li {
    list-style: none;
}

.SubMenu > li > a {
    padding: 8px 15px;
    color: black;
    text-decoration: none;
    display: flex;
}

.SubMenu > li > a:hover {
    background-color: #f3f3f3;
}

.NavBar > li:hover .SubMenu {
    visibility: visible;
}



.Introduccion{
    text-align: center;

    max-width: 70vh;
    margin: 10vh;
}
.Introduccion > p {
    font-size: 2vh; 
    line-height: 1.5;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 100px;
    padding: 20px;
    text-align: center;
    width: 80%;

}


.Proyecto {
    background: #f2f2f2;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 15px;
}

.Proyecto:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.22);
    
}

.Proyecto-img {
    width: 100%;             
    aspect-ratio: 16 / 9;   
    overflow: hidden;
    border-radius: 5px;
    background: #ddd;
}


.Proyecto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}







.Proyecto h1 {
    margin: 0;
    font-size: 1.4rem;
}



.Proyecto p {
    margin: 0;
    color: #444;
}


.Proyecto button {
    padding: 10px 15px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s ease;
}

.Proyecto button:hover {
    background: #005fd1;
}





.Github {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background: #f2f2f2;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 20%;
    min-width: 300px;

   font-style: italic;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 10vh;
}

.GithubIcon {
    width: 120px;
    aspect-ratio: 1 / 1;
}

.GithubIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Github p {
    font-size: 1.2rem;
    color: #333;
}

.Github button {
    padding: 12px 25px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s ease;
}

.Github button:hover {
    background: #333;
}

.Github:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.22);
    
}

}



@media (max-width: 600px) {

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    min-height: 100%;
    background: #454B58;
}

.Background {
    width: 100%;
    background: #E4E6E7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
}


nav {
    width: 100%;
}


.NavBar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.NavBar li a {
    width: 100%;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #454B58;
    font-style: none;
}



.NavBar li{
    list-style: none;
    
}

.NavBar > li:nth-child(2) > a {
    text-decoration: underline;
    font-size: large;
}





.Introduccion{
    text-align: center;
    padding: 40px 20px;
}

.Introduccion > p {
    font-size: 15px;
}


.Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;
    width: 100%;
}

.Proyecto {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Proyecto-img {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 10px;
    background: #ddd;
}

.Proyecto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Proyecto button {
    padding: 10px 15px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


.Github {
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #f2f2f2;
    padding: 30px 20px;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    max-width: 350px;
}

.GithubIcon {
    width: 100px;
    aspect-ratio: 1/1;
}

.GithubIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Github button {
    padding: 12px 25px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
}
}